* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  text-decoration: none;
  

}
.js [data-anime] {
  opacity: 0;
}
.js .fadeinDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime{
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

 header{
  width: 100%;
  background-color: #181B2A;
 }

 .sessao_header{
  display: flex;
  background-color: #181B2A;
  color: white;
  justify-content: space-around;
  width: 1500px;
  height: 100px;
  align-items: center;
  line-height: 30px;
  margin: 0 auto;
  
 }

 .espaco-logo{
  display: flex;
  align-items: center;
  
 }

 .espaco-logo a{
  color: #ffffff;
 }
 .espaco-logo img{
  width: 70px;
  padding: 7px;
  margin-top: 7px;
  
 }
 .logo{
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 25px;
 }

 header h3{
   padding-left: 50px;
 }

.contato{
  display: flex;
  
 }

 .contato h3{
  font-size: 14px;
 }
ul{
  list-style: none;
  margin-right: 43px;
  
 }

ul li{
  margin-right: 15px;
}
.redes{
  display: flex;
  
  padding-top: 4px;
}

.main-menu{
  background: url(img.adv/img-header.png)  no-repeat center ;
  background-size: cover;
  width: 100%;
  height: 470px;
  display: flex;
  color: white;
  margin: 0 auto;
  
}


.main-menu h2{
  font-weight: lighter;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
}
.main-form{
  padding: 60px;
  
}
.main-form h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 6px;
  background-color: #CCA621;
  margin: 18px 0;
}
.main-menu span{
  font-weight: 500;
  font-style: italic;
  color: #CCA621;
  letter-spacing: 1px;
}
.main-form{
  display: flex;
  width: 1300px;
  margin: 0 auto;
  padding-top:120px;
  
}
.main-form p{
  font-size: 17px;
}

.main-menu form {
  background-color: #00000069;
  padding: 20px;
  height: 426px;
  display: grid;
  position: relative;
  bottom: 76px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.823);
  margin-left: 140px;
  

}
h3{
  width: 447px;
  font-weight: lighter;
  text-align: center;
  
}

.main-menu button{
  margin-top: 15px;
  background-color: #967b1a;
  color: rgba(255, 255, 255, 0.69);
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  
}
button:hover{
  background-color: #a7881c;
}
label{
  padding-top: 18px;
  
  
}
input{
  padding: 5px ;
  outline: none;
  height: 46px;
  
 
}


.casos-ajudar{
  text-align: center;
  margin-top: 60px;
  position: relative;
  
}

.casos-ajudar h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background-color: #CCA621;
  margin: 7px 0;
  position: absolute;
  left: 50%;
  
}

.casos-ajudar span{
  font-style: italic;
  font-weight: lighter;
  position: relative;
}

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item{
  flex: 1 1 300px; 
  margin: 20px 10px;
}

.qualidade-item h2{
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2::before{
  content: '';
  width: 8px;
  height: 30px;
  margin-right: 10px;
  background-color: #CCA621;
  display: inline-block;
}

.qualidade-item:nth-of-type(3n+1) h2::before {
  background-color: #CCA621;

}

.qualidade-item:nth-of-type(3n+2) h2::before {
  background-color: #a84c00;

}

.qualidade-item:nth-of-type(3n+3) h2::before {
  background-color: #CCA621;

}


.introducao {
  background-color:#F7F5F7;
  width: 100%;
  height: 301px;
}

.qualidade-item p {
  font-size: 1em;
  line-height: 1.4;
  color: #111111;
}

.quote-externo {  /* citação */
  max-width: 600px;
  margin: 0 auto; 
  text-align: center;
  font-weight: 100px;
  align-items: center;
  padding-top: 60px;
  align-items: center;
}


cite::before, cite::after {   /* elemento EM ESTILO criado antes do p com :before e :after */
  content: ""; /* contéudo EM ESTILO criado antes do p com :before e :after */
  display: block; /* por padrão, o :before e :after é INLINE. então mudamos ele para BLOCK.*/
  width: 90px;
  height: 3px;
  background-color: #000000;
  margin: 20px auto 20px auto;
}



blockquote{
  text-align: center;
}
.quote-externo p {  
  font-style: italic;
  font-weight: lighter;
  color: #3a3d4adc;
  margin-bottom: 30px;
  text-align: center;
  
  
  
}
.sessao_time{
  background-color: #181B2A;
  display: grid;
  width: 100%;
  height: 441px;
}

.div_time{
  width: 1200px;
  display: flex;
  color: white;
  padding: 100px;
  margin: 0 auto;
  padding: 50px;
  
  
  
  
}



.div_time button{
  
  background-color: #967b1a;
  color: rgba(255, 255, 255, 0.69);
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 400px;
  text-transform: uppercase;
  margin-top: 25px;
  cursor: pointer;

 
}

.div_time button:hover{
  background-color: #a7881c;
  
}
.div_time img{
  max-width: 510px;


}




.conteudo-text{
  margin-left: 90px;
  
  
  
}


.conteudo-text h2{
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.conteudo-text span{
  font-style: italic;
  font-weight: lighter;
  position: relative;
}

.conteudo-text p{
  margin-top: 12px;
  font-weight: 300;
  text-align: justify;
  width: 100%;
  font-size: 1em;
  line-height: 1.7;
  
  
  

}

.sessao_time img{
  width: 500px;
  border: solid 5px white;

}



.sessao_contato{
  background-color:#F7F5F7;
  

}
.div_contato{
  color: #000000;
  width: 800px;
  margin: auto;
  display: flex;
  padding: 50px;
  
}

.newsletter {
  
  padding: 70px ;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
}

.newsletter-sessao{
  background-color:#F7F5F7;

}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.newsletter-info h1{
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p{
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
  margin-bottom: 10px;
  
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input{
  flex: 3 1 260px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border:3px solid #181B2A;
  background: transparent;
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
  width: 300px;
}

.newsletter-form button{
  flex: 1 1 260px;
  font-size: 15px;
  font-weight: 200;
  background-color: #181B2A;
  color: white;
  margin:0px;
  cursor: pointer;
  text-transform: uppercase;
  border: 0px;
  letter-spacing: 2px;
  height: 50px;
  border-radius: 0px 0px 5px 5px;
 
  
  
  
}

.newsletter-form button:hover{
  background-color: #343a58;
  color: white;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #181B2A;

  
  
}


.sessao-footer{
  background-color: #181B2A;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
  
}

.sessao-footer p {
  color:#ffffff;
  padding: 0px;
  margin-top: 20px;
  font-size: 12px;
 
}



















